*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.new-container{
    height: 150vh;
    width: 100%;
    background-color: white;
    color: black;

}
.back2{
    background-image: url(./image2/science-lab-concept-free-photo\ \(1\).png);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;


}
.h1{
    font-size: 4rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    padding: 20px 0px 20px 0px;
}
p{
    font-size: 2rem;
}
.main3{
    margin-left: 20px;
}
.main1{
    background-color: black;
    height: 40vh;
    width: 60%;
    margin-left: 20%;
    position: relative;
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
   border-radius: 10px;
   color: #fff;
 box-shadow: 0 0 10px #03e9f4,
               0 0 20px #fff, 
               0 0 40px #fff;
  
    
}
#info{
    height: 40vh;
    width: 60%;
    margin-left: 20%;
    border: 1px solid black;
}

#question{
    font-size: 1.6rem;
}
label{
    font-size: 1.7rem;
}
p{
    margin-left: 20%;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
}
.but1,.but2{
    text-align: center;
}
#end{
    margin-left: 20px;
}
#cal{
    margin-right: 20px;
}



button{
    padding: 10px 30px 10px 30px;
    position: relative;
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
   border-radius: 10px;
}











